{% extends 'layouts/base.html.twig' %}

{% block title pin.title %}

{% block body %}

    <article>
        {{ pin.title }}
        <p>{{ pin.description }}</p>
    </article>
    <a href="{{ path('app_pins_edit', {id: pin.id}) }}">Editer</a> |

    <a href="#" onclick="event.preventDefault();
        confirm('êtes-vous sûr ?')&&document.getElementById('js-pin_delete_form').submit();"
    >
        Delete
    </a> |

    <form id="js-pin_delete_form" action="{{ path('app_pins_delete', {id: pin.id}) }}" method="post" style="display: none;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_delete' ~ pin.id) }}">
        <input type="hidden" name="_method" value="DELETE">
    </form>

{% endblock %}
